#include <stdio.h>
#include <stdlib.h>
#include <stdint.h>
#include <pthread.h>

{fun_str}

typedef struct thread_args {{
  int tid;
  void ** args;
}} thread_arg_t;

void execute(int tid, void** args) {{
  {fun_params_cast};
  {fun_name}(tid, {fun_params});
}}

void * exec_wrap(void * args) {{
  thread_arg_t thr_args = *(thread_arg_t *) args;
  execute(thr_args.tid,  thr_args.args);
  return NULL;
}}

void entry_point(void** args) {{
  {gen_threads}
  {thread_join}
}}
