thread_arg_t thread_args;
 thread_args.args = args;
 thread_dim_id_t tid;
 tid.t0 = 0;
 tid.barrier = &barrier;
 thread_args.tid = &tid;
pthread_barrier_init(&barrier, NULL, 1);
exec_wrap((void *)&thread_args);
