{ind_var_decl}
pthread_t thr_ids[{num_threads}]; 
thread_arg_t thread_args[{num_threads}]; 
thread_dim_id_t thread_tids[{num_threads}]; 
pthread_barrier_init(&barrier, NULL,{num_threads}); 

{loop_init}
thread_args[{ind}].args = args; 
{tid_struct}
thread_args[{ind}].tid.barrier = &barrier; 
pthread_create(&thr_ids[{ind}], NULL, exec_wrap, (void *)&thread_args[{ind}]); 
{loop_jump}
