[Unit]
Description=Enable non-root users to set GPU autoboost
Before=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/nvidia-smi --auto-boost-permission=UNRESTRICTED
RemainAfterExit=yes

[Install]
RequiredBy=multi-user.target
